*{
	margin: 0px;
}

.contenedor{
	background-color: #141a32;
	height: 649px;
	color: white;
	font-family: century gothic;
}

.contenedor .contenido{
	padding-top: 13%;
    text-align: center;
}

.contenedor .contenido .logo img{
	width: 370px;
}

.contenedor .contenido .titulo{
	padding-top: 38px;
}

.contenedor .contenido form{
	padding-top: 25px;
}

.contenedor .contenido .nacimiento{
	margin-left: 12px;
}

.contenedor .contenido p{
	margin-top: 30px;
}

.contenedor .contenido .ingreso{
	padding: 10px 30px;
}